<div class="row">
   <div class="col-md-3">
      <div class="list-group m-2"
           style="width: 19rem;">
         <a class="list-group-item list-group-item-action active">RxJS examples</a>
         <a routerLink="/user-cards"
            class="list-group-item list-group-item-action">User cards</a>
         <a routerLink="/paint-brush"
            class="list-group-item list-group-item-action">Paint brush</a>
         <a routerLink="/ending-credits"
            class="list-group-item list-group-item-action">Ending credits</a>
         <a routerLink="/whack-a-mole"
            class="list-group-item list-group-item-action">Whack-a-mole</a>
         <a routerLink="/marbles"
            class="list-group-item list-group-item-action">Marbles</a>
      </div>
   </div>
   <div class="col-md-9 p-2">
      <router-outlet></router-outlet>
   </div>
</div>